.caixa_formulario {
    background: white;
    width: 400px;
    height: 270px;
    color: palevioletred; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.caixa_formulario h1 {
    font-size: 30px;
}

.caixa_formulario {
    display: flex;
    flex-direction: column;
    width: 200px;
    /*border: 1px solid black;*/
    
}

.caixa_formulario button {
    margin-top: 10px;
    background: #e1374e;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 15px;
    width: 120px;
    align-self: center;
}
    

.caixa_formulario input {
    padding: 10px 15px;
    text-align: center;
    border: 2px solid blue;
    border-radius: 10px;
}

.header .banner .container {
    display: flex;
    justify-content: center;
    height: 700px;
    align-items: center;
}

/* body */
.body {
    background-color: black;   
}
/* imagem navbar */
.navbar {
        display: flex;
        justify-items: auto;
        width: 100%;
        height: 100px;
        position: fixed;
        background-color: black;
        top: 0;
        left: 0;
        justify-content: space-between;
}

.caixa {
    display: flex;
        justify-items: auto;
        width: 1300px;
        height: 90px;
        background-color: black;
}

.navbar .itens{
    display: flex;
    width: 450px;
    justify-content: space-around;
    color: #e3b062;
    list-style: none;
    align-items: center;
}

.header .container {
    display: flex;

}

.header .container .caixa_formulario {
    background: white;
    width: 400px;
    height: 270px;
    color: palevioletred; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}