/* body */
.body {
    background-color: black;   
}
/* imagem navbar */
.navbar {
        display: flex;
        justify-items: auto;
        width: 100%;
        height: 100px;
        position: fixed;
        background-color: black;
        top: 0;
        left: 0;
        justify-content: space-between;
}

.caixa {
    display: flex;
        justify-items: auto;
        width: 1300px;
        height: 90px;
        background-color: black;
}

.navbar .itens{
    display: flex;
    width: 450px;
    justify-content: space-around;
    color: #e3b062;
    list-style: none;
    align-items: center;
}





.leftbar {
    display: flex;
    
    
}

.leftbar .container {
    display: flex;
    justify-content: center ;
}

/* conteudo */
.leftbar .container .header {
    width: 75%;
    height: 900px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background-color: gray;
    justify-content: center;
    /* background-image: url('./img/backPercy.png');
    background-repeat: no-repeat;
    background-position: right; */
}

.leftbar .container .header .h1 {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}


/* texto introdutorio */
.leftbar .container .header .introducao {
    display: flex;
    height: 300px;
    align-items: center;
    width: 150px;
    margin-left: 45%;
    color: white;
}
.leftbar .container {
    display: flex;
    width: 100%;
    height: 100%;
}

.leftbar .container .header .imagem {
    display: flex;
    justify-content: center;
    height: 150px;
}

/* footer */

.footer {
    display: flex;
    justify-items: auto;
    width: 100%;
    height: 50px;
    position: fixed;
    border-top: solid 3px cyan;
    background-color: black;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.footer .container{
    display: flex;
}

.footer .container .frase {
    display: flex;
    color: white;
    
}
