@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,500&display=swap');



body {
    background-color: black;
    color: white;
    font-family: 'Cormorant';
}   

.titulo {
    font-family: 'Cormorant';
    font-size: 40px;
    font-weight: bold;
}

.header {
    top: 0;
    margin: 0;
    left: 0;
    border-bottom: solid 3px white;
    height: 100px;
}

.navbar {
    display: flex;
    width: 450px;
    justify-content: space-around;
    color: #5454d6;
    list-style: none;
    align-items: center;
    font-size: 20px;
}

.header .container .titulo {
    display: flex;
        justify-items: auto;
        height: 70px;
        background-color: black;
        top: 0;
        left: 0;
        justify-content: space-between;
        font-family: 'Cormorant';
        font-size: 40px;
        font-weight: bold;
        margin-left: 360px;
}

.header .container {
    display: flex;
    justify-items: flex-end;
    align-content: stretch;
    justify-content: space-around;
    align-items: flex-start;
}

.header .container img {
    display: flex;
    width: 100px;
}


.principal{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.principal .container {
    /* color: rgb(7, 156, 7); */
    width: 500px;
    font-family: 'Cormorant';
    font-size: 40px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
    
}

.principal .container .continuidade {
    display: flex;
    margin-top: 50px;
    font-size: 20px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.container .conteudo  {
    display: flex;
    margin: 30px;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: solid 3px white;
    
}

.principal .container img {
    display: flex;
    width: 500px;
    margin: 50px;
}

.container .conteudo img {
    display: flex;
    width: 150px;
    margin: 50px;
}

.footer {
    top: 0;
    margin: 0;
    left: 0;
    border-top: solid 3px white;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.texto {
  width: 500px;    
  text-align: center;
  font-family: 'Cormorant';
  font-size: 20px;
  font-weight: bold;
}

.tituloquiz{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.quiz .container {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 430px;
    height: 430px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 35px;
    color: black;
    margin: 40px;
    font-weight: bold;
}

.botaoquiz {
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    background-color: rgb(87, 97, 105);
}

.botaosair {
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    background-color: rgb(87, 97, 105);
}

.questao {
    display: flex;
    margin-left: 3px;
}